:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    box-sizing: border-box;
}