/* Header: Begin */

#header {
	border-bottom: 1px solid #ccc;
	height: 64px;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
}


/* custom bootstrap navbar: start */
.nav-link {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
}
  
.navbar-light .navbar-brand {
	text-transform: uppercase;
	font-size: 28px;
	color: green;
	font-weight: 700;
}
  
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	opacity: 0.3;
}

.navbarSupportedContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	padding: 0 12px;
}


/* custom bootstrap navbar: end */
/* Header: End */


/* ! HOME CSS: START */

#content {
	margin: 36px 0;
}

.title {
	font-size: 24px;
	font-weight: bold;
	padding: 18px 0 12px;
	width: 100%;
}

.title--medium {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	padding-bottom: 12px;
}

.title--small {
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	padding-bottom: 12px;
}

.desc {
	font-size: 15px;
	color: #555;
	font-weight: bold;
}

.content__hl {
	margin-bottom: 18px;
}

.content__hl-top {
	width: 100%;
	margin-bottom: 24px;
}

img {
	display: block;
	width: 100%;
}

.content__hl-bottom {
	width: 100%;
}

.content__hl-item {
	width: 100%;
	margin-bottom: 24px;
}

.content__menu {
	width: 100%;
	border-bottom: 1px solid green;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 24px;
}

.content__menu-item {
	padding: 12px 18px;
	text-transform: uppercase;
	background-color: green;
	font-size: 18px;
	font-weight: bold;
}

.category-name {
	color: #fff;
	width: 100%;
	height: 100%;
}

.category-name:hover {
	opacity: 0.7;
	color: #fff;
}

.content__box {
	margin-bottom: 36px;
}

.content__top {
	margin-bottom: 24px;
}

.content__bottom-item {
	margin-bottom: 12px;
}


/* content---right: BEGIN */

.ads {
	margin-bottom: 36px;
}

.most-read {
	margin-bottom: 36px;
}

.content__right-title {
	padding: 12px 0;
	margin-bottom: 24px;
	text-align: left;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid green;
}

.most-read__item {
	margin-bottom: 24px;
}


/* content---right: END */

.footer-top {
	background-color: green;
	padding: 24px 0;
}

.footer-top {
	color: #fff;
}

.footer__item {
	padding: 0 24px 12px 0;
	overflow: hidden;
}

.footer__title {
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.footer__about-me {
	padding-bottom: 12px;
	font-weight: 300;
}

.footer__mail,
.footer__mail {
	padding-bottom: 12px;
}

.footer__category {
	text-transform: none;
}

.footer__category-item {
	margin-bottom: 12px;
}

.footer-bottom {
	padding: 12px 0;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.category-link {
	color: #fff;
}

.category-link:hover {
	opacity: 0.7;
	color: #fff;
}


/* ! HOME CSS: END */


/* ! CATEGORY CSS: START */

.main-navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #f1f1f1;
	font-size: 18px;
	padding-left: 8px;
	border-bottom: 1px solid #ccc;
}

.main-navbar p, .main-navbar a {
	margin: 8px 0;
	font-size: 18px;
}

.main-navbar i {
	padding: 0 8px;
	font-size: 18px;
}


/* ! CATEGORY CSS: END */


/* ! DETAIL CSS: START */



/* ! DETAIL CSS: END */


/* ! responsive */

@media (max-width: 991px) {

	.content__right {
		display: none;
	}
}

@media (max-width: 576px) {
	.footer__item {
		text-align: center;
	}
} 


